.head h1{
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    color: #1f1b2e;
    text-align: center;
    line-height: 0.5;
}

.head p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #6d28d9;
    text-align: center;
}

.designs-prev-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.designs-item{
    border-radius: 20px;
    background-color: #fbcfe8;
    padding: 20px;
}

.designs-prev-grid img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.toggle{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.toggle-content h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #1f1b2e;
    margin: 0;
    font-weight: 500;
}

.toggle-content p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #1f1b2e;
    margin: 10px 0;
}

.toggle a{
    background-color: #e9d5ff;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    color: #1f1b2e;
    margin-left: 10px;
}

.toggle a:hover{
    background-color: #bc82fb;
    color: #ffffff;
}